@charset "utf-8";
/* CSS Document */

*{box-sizing: border-box;}

body{background-image: url("image/bg.png"); background-repeat: no-repeatactive;
background-size: cover;
background-color: whitesmoke}

#container{
	width: 1440px;
	height: 1024px;
	background-color: #57655E;
	margin:0 auto}